html {
    background-color: gray;
}

body {
    background-color: gray;
}

form {
    background-color: gray;
}

#GIFArea {
    background-color: gray;
    float: left;
}

.container {
    text-align: center;
}

#comedianButtons {
    margin: 20px;
}

button {
    margin: 2px;
}

#add-comedian {
    margin: 2px;
}